## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
import pandas as pd
import csv
import sqlite3
import numpy as np

In [3]:
#Recomended

movie_gross = pd.read_csv(('zippedData/bom.movie_gross.csv.gz'), index_col= False)

#forein_gross is missing over 1000 values will be dropping that column as 40 percent of that column is missing 
movie_gross.drop(columns = ['foreign_gross'], inplace = True)

In [19]:
#found the highest grossing movies domestically 
domestic_gross = movie_gross.sort_values(['domestic_gross'], ascending = False).head(50)
domestic_gross.astype(str)
#op_10_countries = df['Nationality'].value_counts()[0:10] top_10_countries = list(top_10_countries.index)

,title,studio,domestic_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,2015
3080,Black Panther,BV,700100000.0,2018
3079,Avengers: Infinity War,BV,678800000.0,2018
1873,Jurassic World,Uni.,652300000.0,2015
727,Marvel's The Avengers,BV,623400000.0,2012
2758,Star Wars: The Last Jedi,BV,620200000.0,2017
3082,Incredibles 2,BV,608600000.0,2018
2323,Rogue One: A Star Wars Story,BV,532200000.0,2016
2759,Beauty and the Beast (2017),BV,504000000.0,2017
2324,Finding Dory,BV,486300000.0,2016
1875,Avengers: Age of Ultron,BV,459000000.0,2015
729,The Dark Knight Rises,WB,448100000.0,2012
1131,The Hunger Games: Catching Fire,LGF,424700000.0,2013
3081,Jurassic World: Fallen Kingdom,Uni.,417700000.0,2018
0,Toy Story 3,BV,415000000.0,2010
2767,Wonder Woman,WB,412600000.0,2017
1128,Iron Man 3,BV,409000000.0,2013
2322,Captain America: Civil War,BV,408100000.0,2016
735,The Hunger Games,LGF,408000000.0,2012
2762,Jumanji: Welcome to the Jungle,Sony,404500000.0,2017
1127,Frozen,BV,400700000.0,2013
2765,Guardians of the Galaxy Vol. 2,BV,389800000.0,2017
328,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,2011
2327,The Secret Life of Pets,Uni.,368400000.0,2016
1129,Despicable Me 2,Uni.,368100000.0,2013
2326,The Jungle Book (2016),BV,364000000.0,2016
2330,Deadpool,Fox,363100000.0,2016
1878,Inside Out,BV,356500000.0,2015
1874,Furious 7,Uni.,353000000.0,2015
329,Transformers: Dark of the Moon,P/DW,352400000.0,2011
1489,American Sniper,WB,350100000.0,2014
2325,Zootopia,BV,341300000.0,2016
1481,The Hunger Games: Mockingjay - Part 1,LGF,337100000.0,2014
1876,Minions,Uni.,336000000.0,2015
3083,Aquaman,WB,335100000.0,2018
2763,Spider-Man: Homecoming,Sony,334200000.0,2017
1,Alice in Wonderland (2010),BV,334200000.0,2010
1479,Guardians of the Galaxy,BV,333200000.0,2014
2328,Batman v Superman: Dawn of Justice,WB,330400000.0,2016
2770,It,WB (NL),327500000.0,2017
2331,Suicide Squad,WB,325100000.0,2016
3087,Deadpool 2,Fox,318500000.0,2018
2766,Thor: Ragnarok,BV,315100000.0,2017
6,Iron Man 2,Par.,312400000.0,2010
728,Skyfall,Sony,304400000.0,2012
730,The Hobbit: An Unexpected Journey,WB (NL),303000000.0,2012
5,The Twilight Saga: Eclipse,Sum.,300500000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,2010
3,Inception,WB,292600000.0,2010
732,The Twilight Saga: Breaking Dawn Part 2,LG/S,292300000.0,2012

In [5]:
job_title = pd.read_csv('zippedData/imdb.name.basics.csv.gz')
job_title

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
...,...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

In [6]:
director = pd.read_csv('zippedData/imdb.title.crew.csv.gz')
director.info

<bound method DataFrame.info of            tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...           ...                            ...                  ...
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

[146144 rows x 3 columns]>

In [7]:
#RECCOMENDED 
ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

The code below ws utilizd to obtain the production budget for the movie

In [26]:
#utilizing this data set to come up with foreign gross.
movie_budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', index_col = False,)
#code was used due to not being able manipulate data within columns correctly as integrs. 
movie_budget['production_budget']= movie_budget['production_budget'].str.replace(r'\W','',)
movie_budget['worldwide_gross']= movie_budget['worldwide_gross'].str.replace(r'\W','',)
#Code Usd to transform the datatype from object to integer
movie_budget['production_budget']= movie_budget['production_budget'].astype(int)
movie_budget['wordwide_gross']= movie_budget['worldwide_gross'].astype(float)
movie_budget = movie_budget.reset_index(drop = True)
movie_budget['production_budget'].sort_values(ascending = False)
movie_budget.sort_values(['production_budget'], ascending = False).head(50)

<ipython-input-26-35691bf936c7>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  movie_budget['production_budget']= movie_budget['production_budget'].str.replace(r'\W','',)
<ipython-input-26-35691bf936c7>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  movie_budget['worldwide_gross']= movie_budget['worldwide_gross'].str.replace(r'\W','',)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,wordwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,"$760,507,625",2776345279,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,"$241,063,875",1045663875,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000,"$42,762,350",149762350,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,"$459,005,868",1403013963,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,"$620,181,382",1316721747,1.316722e+09
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,"$936,662,225",2053311220,2.053311e+09
6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,"$678,815,482",2048134200,2.048134e+09
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,300000000,"$309,420,425",963420425,9.634204e+08
8,9,"Nov 17, 2017",Justice League,300000000,"$229,024,295",655945209,6.559452e+08
9,10,"Nov 6, 2015",Spectre,300000000,"$200,074,175",879620923,8.796209e+08
10,11,"Jul 20, 2012",The Dark Knight Rises,275000000,"$448,139,099",1084439099,1.084439e+09
11,12,"May 25, 2018",Solo: A Star Wars Story,275000000,"$213,767,512",393151347,3.931513e+08
12,13,"Jul 2, 2013",The Lone Ranger,275000000,"$89,302,115",260002115,2.600021e+08
13,14,"Mar 9, 2012",John Carter,275000000,"$73,058,679",282778100,2.827781e+08
14,15,"Nov 24, 2010",Tangled,260000000,"$200,821,936",586477240,5.864772e+08
15,16,"May 4, 2007",Spider-Man 3,258000000,"$336,530,303",894860230,8.948602e+08
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,250000000,"$330,360,194",867500281,8.675003e+08
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,250000000,"$303,003,568",1017003568,1.017004e+09
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,250000000,"$302,089,278",935213767,9.352138e+08
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,250000000,"$258,366,855",960366855,9.603669e+08
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,250000000,"$255,119,788",945577621,9.455776e+08
22,23,"Apr 14, 2017",The Fate of the Furious,250000000,"$225,764,765",1234846267,1.234846e+09
16,17,"May 6, 2016",Captain America: Civil War,250000000,"$408,084,349",1140069413,1.140069e+09
23,24,"Jun 28, 2006",Superman Returns,232000000,"$200,120,000",374085065,3.740851e+08
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,230000000,"$172,558,876",788241137,7.882411e+08
25,26,"Nov 14, 2008",Quantum of Solace,230000000,"$169,368,427",591692078,5.916921e+08
29,30,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,225000000,"$141,621,490",417341288,4.173413e+08
28,29,"Jun 14, 2013",Man of Steel,225000000,"$291,045,518",667999518,6.679995e+08
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,225000000,"$423,315,812",1066215812,1.066216e+09
26,27,"May 4, 2012",The Avengers,225000000,"$623,279,547",1517935897,1.517936e+09
30,31,"Jul 3, 2012",The Amazing Spider-Man,220000000,"$262,030,663",757890267,7.578903e+08
31,32,"May 18, 2012",Battleship,220000000,"$65,233,400",313477717,3.134777e+08
32,33,"Jun 21, 2017",Transformers: The Last Knight,217000000,"$130,168,683",602893340,6.028933e+08
33,34,"Jun 12, 2015",Jurassic World,215000000,"$652,270,625",1648854864,1.648855e+09
34,35,"May 25, 2012",Men in Black 3,215000000,"$179,020,854",654213485,6.542135e+08
37,38,"May 26, 2006",X-Men: The Last Stand,210000000,"$234,362,462",459260946,4.592609e+08
35,36,"Jun 24, 2009",Transformers: Revenge of the Fallen,210000000,"$402,111,870",836519699,8.365197e+08
36,37,"Jun 27, 2014",Transformers: Age of Extinction,210000000,"$245,439,076",1104039076,1.104039e+09
38,39,"May 14, 2010",Robin Hood,210000000,"$105,487,148",322459006,3.224590e+08
39,40,"Dec 14, 2005",King Kong,207000000,"$218,080,025",550517357,5.505174e+08
40,41,"Dec 7, 2007",The Golden Compass,205000000,"$70,107,728",367262558,3.672626e+08
58,59,"Nov 13, 2009",2012,200000000,"$166,112,167",757677748,7.576777e+08
54,55,"May 23, 2014",X-Men: Days of Future Past,200000000,"$233,921,534",747862775,7.478628e+08
55,56,"May 2, 2014",The Amazing Spider-Man 2,200000000,"$202,853,933",708996336,7.089963e+08
56,57,"Jun 24, 2011",Cars 2,200000000,"$191,450,875",560155383,5.601554e+08
57,58,"Dec 17, 2010",Tron: Legacy,200000000,"$172,062,763",400062763,4.000628e+08
52,53,"Jun 21, 2013",Monsters University,200000000,"$268,488,329",743588329,7.435883e+08
59,60,"Nov 16, 2018",Fantastic Beasts: The Crimes of Grindelwald,200000000,"$159,555,901",652220086,6.522201e+08
60,61,"May 21, 2009",Terminator Salvation,200000000,"$125,322,469",365491792,3.654918e+08
61,62,"Jun 17, 2011",Green Lantern,200000000,"$116,601,172",219535492,2.195355e+08

In [29]:
#correlation between top domestic grossing movies and production budget

domestic_gross[domestic_gross['title'].isin(movie_budget['movie'],)]

                                      title   studio  domestic_gross  year
3080                          Black Panther       BV     700100000.0  2018
3079                 Avengers: Infinity War       BV     678800000.0  2018
1873                         Jurassic World     Uni.     652300000.0  2015
3082                          Incredibles 2       BV     608600000.0  2018
2323           Rogue One: A Star Wars Story       BV     532200000.0  2016
2324                           Finding Dory       BV     486300000.0  2016
1875                Avengers: Age of Ultron       BV     459000000.0  2015
729                   The Dark Knight Rises       WB     448100000.0  2012
1131        The Hunger Games: Catching Fire      LGF     424700000.0  2013
3081         Jurassic World: Fallen Kingdom     Uni.     417700000.0  2018
0                               Toy Story 3       BV     415000000.0  2010
2767                           Wonder Woman       WB     412600000.0  2017
1128                             Iron Man 3       BV     409000000.0  2013
2322             Captain America: Civil War       BV     408100000.0  2016
735                        The Hunger Games      LGF     408000000.0  2012
2762         Jumanji: Welcome to the Jungle     Sony     404500000.0  2017
1127                                 Frozen       BV     400700000.0  2013
2327                The Secret Life of Pets     Uni.     368400000.0  2016
1129                        Despicable Me 2     Uni.     368100000.0  2013
2330                               Deadpool      Fox     363100000.0  2016
1878                             Inside Out       BV     356500000.0  2015
1874                              Furious 7     Uni.     353000000.0  2015
329          Transformers: Dark of the Moon     P/DW     352400000.0  2011
1489                        American Sniper       WB     350100000.0  2014
2325                               Zootopia       BV     341300000.0  2016
1481  The Hunger Games: Mockingjay - Part 1      LGF     337100000.0  2014
1876                                Minions     Uni.     336000000.0  2015
3083                                Aquaman       WB     335100000.0  2018
2763                 Spider-Man: Homecoming     Sony     334200000.0  2017
1479                Guardians of the Galaxy       BV     333200000.0  2014
2328     Batman v Superman: Dawn of Justice       WB     330400000.0  2016
2770                                     It  WB (NL)     327500000.0  2017
2331                          Suicide Squad       WB     325100000.0  2016
3087                             Deadpool 2      Fox     318500000.0  2018
2766                         Thor: Ragnarok       BV     315100000.0  2017
6                                Iron Man 2     Par.     312400000.0  2010
728                                 Skyfall     Sony     304400000.0  2012
730       The Hobbit: An Unexpected Journey  WB (NL)     303000000.0  2012
5                The Twilight Saga: Eclipse     Sum.     300500000.0  2010
3                                 Inception       WB     292600000.0  2010

In [ ]:
#RECCOMENDED
genre_ = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
genre_['primary_title'] == domestic_gross['title']